.items-card {
    position: relative;
    margin-top: 50px;
    margin-left: 100px;
    width: 50%;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: rgb(108, 155, 119);
    box-shadow:  -14px -14px  rgb(39, 70, 47);
  }

.items-cardcontainer { 
    position: relative;

    width: 100%;
    display: flex;
  flex-wrap: no-wrap;
  overflow-x: auto;
  margin: 20px;
    
}

