.items-card {
    position: relative;
    width: 30%;
    height: 75%;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    box-shadow:  -14px -14px  rgb(39, 70, 47);
    margin-top: 6%; 
    margin-left: 3%;
  }
.items-cardcontainer { 
  position: relative;
    width: 100%;
    height: 100%;
    display: -webkit-inline-box;
  flex-wrap: no-wrap;
  overflow-x: auto;    
}
.name-container{
  overflow-y: auto;
  height: 40%;
}
.backgroundpicI {
  position: relative; 
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.backgroundpicI::before {    
    content: "";
    background-image: url('https://www.sccgltd.com/wp-content/uploads/2016/04/warehouse11.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.50;
}
