.backgroundpicIV {
    position: relative; 
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .backgroundpicIV::before {    
      content: "";
      background-image: url('https://divisare-res.cloudinary.com/images/c_limit,f_auto,h_2000,q_auto,w_3000/v1466761385/vpmyoi8i0gntaifm7vdy/kokaistudios-dirk-weiblen-xintai-warehouse.jpg');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.50;
  }
  .home-card {
    position: relative;
    margin-top: 50%;
    width: 100%;
    height: 40%;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: rgb(39, 70, 47);
    box-shadow:  -14px -14px #8dc0b2 ;
    color: #8dc0b2;
  }
  .home{
    height: 1000px;
  }