input {
    margin-top: 10px;
    padding: 10px;
    padding-left: 20px;
    height: 25px;
    font-size: 14px;
    border-radius: 50px;
  }
  button {
    margin-top: 20px;
    background: rgb(108, 155, 119);
    height: 40px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow:  -5px -2px  rgb(39, 70, 47);
    transition: 0.5s;
  }
  button:hover {
    box-shadow: none;
  }
  .login-container {
    position: relative;
    margin-top: 200px;
    width: 350px;
    height: 350px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: rgb(108, 155, 119);
    box-shadow:  -14px -14px  rgb(39, 70, 47);
    opacity: 1;
  }
  .login {
    height: 1000px;
  }
 .backgroundpic {
    position: relative; 
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.backgroundpic::before {    
      content: "";
      background-image: url('https://www.perfocal.com/blog/content/images/2020/03/Perfocal_4-1-2019_VW0FI5_1_standard.jpg');
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.50;
}
  